{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "description": "API for Telegram bots",
    "termsOfService": "https://telegram.org/tos",
    "version": "5.3"
  },
  "servers": [
    {
      "description": "production",
      "url": "https://api.telegram.org/"
    }
  ],
  "paths": {
    "/addStickerToSet": {
      "post": {
        "operationId": "addStickerToSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addStickerToSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/answerCallbackQuery": {
      "post": {
        "operationId": "answerCallbackQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerCallbackQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/answerInlineQuery": {
      "post": {
        "operationId": "answerInlineQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerInlineQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/answerPreCheckoutQuery": {
      "post": {
        "operationId": "answerPreCheckoutQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerPreCheckoutQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/answerShippingQuery": {
      "post": {
        "operationId": "answerShippingQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerShippingQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/banChatMember": {
      "post": {
        "operationId": "banChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/banChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/copyMessage": {
      "post": {
        "operationId": "copyMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/copyMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/createChatInviteLink": {
      "post": {
        "operationId": "createChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/createNewStickerSet": {
      "post": {
        "operationId": "createNewStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createNewStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/deleteChatPhoto": {
      "post": {
        "operationId": "deleteChatPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteChatPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/deleteChatStickerSet": {
      "post": {
        "operationId": "deleteChatStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteChatStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/deleteMessage": {
      "post": {
        "operationId": "deleteMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/deleteMyCommands": {
      "post": {
        "operationId": "deleteMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/deleteStickerFromSet": {
      "post": {
        "operationId": "deleteStickerFromSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteStickerFromSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/deleteWebhook": {
      "post": {
        "operationId": "deleteWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteWebhook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/editChatInviteLink": {
      "post": {
        "operationId": "editChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/editMessageCaption": {
      "post": {
        "operationId": "editMessageCaption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageCaption"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/editMessageLiveLocation": {
      "post": {
        "operationId": "editMessageLiveLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageLiveLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/editMessageMedia": {
      "post": {
        "operationId": "editMessageMedia",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageMedia"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/editMessageReplyMarkup": {
      "post": {
        "operationId": "editMessageReplyMarkup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageReplyMarkup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/editMessageText": {
      "post": {
        "operationId": "editMessageText",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageText"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/exportChatInviteLink": {
      "post": {
        "operationId": "exportChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/exportChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/forwardMessage": {
      "post": {
        "operationId": "forwardMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/forwardMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getChat": {
      "post": {
        "operationId": "getChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getChatAdministrators": {
      "post": {
        "operationId": "getChatAdministrators",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatAdministrators"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getChatMember": {
      "post": {
        "operationId": "getChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getChatMemberCount": {
      "post": {
        "operationId": "getChatMemberCount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMemberCount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getFile": {
      "post": {
        "operationId": "getFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getGameHighScores": {
      "post": {
        "operationId": "getGameHighScores",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getGameHighScores"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getMe": {
      "description": "A simple method for testing your bot's auth token. Requires no parameters. Returns basic information about the bot in form of a User object.",
      "post": {
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Basic information about the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/getMyCommands": {
      "post": {
        "operationId": "getMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getStickerSet": {
      "post": {
        "operationId": "getStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getUpdates": {
      "post": {
        "operationId": "getUpdates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getUpdates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/getUserProfilePhotos": {
      "post": {
        "operationId": "getUserProfilePhotos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getUserProfilePhotos"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/leaveChat": {
      "post": {
        "operationId": "leaveChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/leaveChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/pinChatMessage": {
      "post": {
        "operationId": "pinChatMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pinChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/promoteChatMember": {
      "post": {
        "operationId": "promoteChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/promoteChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/restrictChatMember": {
      "post": {
        "operationId": "restrictChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/restrictChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/revokeChatInviteLink": {
      "post": {
        "operationId": "revokeChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/revokeChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendAnimation": {
      "post": {
        "operationId": "sendAnimation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendAnimation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendAudio": {
      "post": {
        "operationId": "sendAudio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendAudio"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendChatAction": {
      "post": {
        "operationId": "sendChatAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendChatAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendContact": {
      "post": {
        "operationId": "sendContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendDice": {
      "post": {
        "operationId": "sendDice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendDice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendDocument": {
      "post": {
        "operationId": "sendDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendGame": {
      "post": {
        "operationId": "sendGame",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendGame"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendInvoice": {
      "post": {
        "operationId": "sendInvoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendLocation": {
      "post": {
        "operationId": "sendLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendMediaGroup": {
      "post": {
        "operationId": "sendMediaGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMediaGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendPhoto": {
      "post": {
        "operationId": "sendPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendPoll": {
      "post": {
        "operationId": "sendPoll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendPoll"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendSticker": {
      "post": {
        "operationId": "sendSticker",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendSticker"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendVenue": {
      "post": {
        "operationId": "sendVenue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVenue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendVideo": {
      "post": {
        "operationId": "sendVideo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVideo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendVideoNote": {
      "post": {
        "operationId": "sendVideoNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVideoNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/sendVoice": {
      "post": {
        "operationId": "sendVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setChatAdministratorCustomTitle": {
      "post": {
        "operationId": "setChatAdministratorCustomTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatAdministratorCustomTitle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setChatDescription": {
      "post": {
        "operationId": "setChatDescription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatDescription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setChatPermissions": {
      "post": {
        "operationId": "setChatPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatPermissions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setChatPhoto": {
      "post": {
        "operationId": "setChatPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setChatStickerSet": {
      "post": {
        "operationId": "setChatStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setChatTitle": {
      "post": {
        "operationId": "setChatTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatTitle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setGameScore": {
      "post": {
        "operationId": "setGameScore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setGameScore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setMyCommands": {
      "post": {
        "operationId": "setMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setPassportDataErrors": {
      "post": {
        "operationId": "setPassportDataErrors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setPassportDataErrors"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setStickerPositionInSet": {
      "post": {
        "operationId": "setStickerPositionInSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setStickerPositionInSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setStickerSetThumb": {
      "post": {
        "operationId": "setStickerSetThumb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setStickerSetThumb"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/setWebhook": {
      "post": {
        "operationId": "setWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setWebhook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/stopMessageLiveLocation": {
      "post": {
        "operationId": "stopMessageLiveLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stopMessageLiveLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/stopPoll": {
      "post": {
        "operationId": "stopPoll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stopPoll"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/unbanChatMember": {
      "post": {
        "operationId": "unbanChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unbanChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/unpinAllChatMessages": {
      "post": {
        "operationId": "unpinAllChatMessages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinAllChatMessages"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/unpinChatMessage": {
      "post": {
        "operationId": "unpinChatMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    },
    "/uploadStickerFile": {
      "post": {
        "operationId": "uploadStickerFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/uploadStickerFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Animation": {
        "type": "object",
        "properties": {
          "duration": {
            "description": "Duration of the video in seconds as defined by sender",
            "type": "integer"
          },
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_name": {
            "description": "Original animation filename as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "height": {
            "description": "Video height as defined by sender",
            "type": "integer"
          },
          "mime_type": {
            "description": "MIME type of the file as defined by sender",
            "type": "string"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize",
            "description": "Animation thumbnail as defined by sender"
          },
          "width": {
            "description": "Video width as defined by sender",
            "type": "integer"
          }
        },
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "duration"
        ]
      },
      "Audio": {
        "type": "object",
        "properties": {
          "duration": {
            "description": "Duration of the audio in seconds as defined by sender",
            "type": "integer"
          },
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_name": {
            "description": "Original filename as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "mime_type": {
            "description": "MIME type of the file as defined by sender",
            "type": "string"
          },
          "performer": {
            "description": "Performer of the audio as defined by sender or by audio tags",
            "type": "string"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize",
            "description": "Thumbnail of the album cover to which the music file belongs"
          },
          "title": {
            "description": "Title of the audio as defined by sender or by audio tags",
            "type": "string"
          }
        },
        "required": [
          "file_id",
          "file_unique_id",
          "duration"
        ]
      },
      "BotCommand": {
        "type": "object",
        "properties": {
          "command": {
            "description": "Text of the command, 1-32 characters. Can contain only lowercase English letters, digits and underscores",
            "type": "string"
          },
          "description": {
            "description": "Description of the command, 3-256 characters",
            "type": "string"
          }
        },
        "required": [
          "command",
          "description"
        ]
      },
      "BotCommandScopeAllChatAdministrators": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be all_chat_administrators",
            "type": "string",
            "default": "all_chat_administrators"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeAllGroupChats": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be all_group_chats",
            "type": "string",
            "default": "all_group_chats"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeAllPrivateChats": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be all_private_chats",
            "type": "string",
            "default": "all_private_chats"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChat": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be chat",
            "type": "string",
            "default": "chat"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChatAdministrators": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be chat_administrators",
            "type": "string",
            "default": "chat_administrators"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChatMember": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be chat_member",
            "type": "string",
            "default": "chat_member"
          },
          "user_id": {
            "description": "Unique identifier of the target user",
            "type": "integer"
          }
        },
        "required": [
          "type",
          "user_id"
        ]
      },
      "BotCommandScopeDefault": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be default",
            "type": "string",
            "default": "default"
          }
        },
        "required": [
          "type"
        ]
      },
      "CallbackQuery": {
        "type": "object",
        "properties": {
          "chat_instance": {
            "description": "Global identifier, uniquely corresponding to the chat to which the message with the callback button was sent. Useful for high scores in games",
            "type": "string"
          },
          "data": {
            "description": "Data associated with the callback button. Be aware that a bad client can send arbitrary data in this field",
            "type": "string"
          },
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "Sender"
          },
          "game_short_name": {
            "description": "Short name of a Game to be returned, serves as the unique identifier for the game",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this query",
            "type": "string"
          },
          "inline_message_id": {
            "description": "Identifier of the message sent via the bot in inline mode, that originated the query",
            "type": "string"
          },
          "message": {
            "$ref": "#/components/schemas/Message",
            "description": "Message with the callback button that originated the query. Note that message content and message date will not be available if the message is too old"
          }
        },
        "required": [
          "id",
          "from",
          "chat_instance"
        ]
      },
      "Chat": {
        "type": "object",
        "properties": {
          "bio": {
            "description": "Bio of the other party in a private chat. Returned only in getChat",
            "type": "string"
          },
          "can_set_sticker_set": {
            "description": "True, if the bot can change the group sticker set. Returned only in getChat",
            "type": "boolean"
          },
          "description": {
            "description": "Description, for groups, supergroups and channel chats. Returned only in getChat",
            "type": "string"
          },
          "first_name": {
            "description": "First name of the other party in a private chat",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this chat. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier",
            "type": "integer"
          },
          "invite_link": {
            "description": "Primary invite link, for groups, supergroups and channel chats. Returned only in getChat",
            "type": "string"
          },
          "last_name": {
            "description": "Last name of the other party in a private chat",
            "type": "string"
          },
          "linked_chat_id": {
            "description": "Unique identifier for the linked chat, i.e. the discussion group identifier for a channel and vice versa; for supergroups and channel chats. This identifier may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier. Returned only in getChat",
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/ChatLocation",
            "description": "For supergroups, the location to which the supergroup is connected. Returned only in getChat"
          },
          "message_auto_delete_time": {
            "description": "The time after which all messages sent to the chat will be automatically deleted; in seconds. Returned only in getChat",
            "type": "integer"
          },
          "permissions": {
            "$ref": "#/components/schemas/ChatPermissions",
            "description": "Default chat member permissions, for groups and supergroups. Returned only in getChat"
          },
          "photo": {
            "$ref": "#/components/schemas/ChatPhoto",
            "description": "Chat photo. Returned only in getChat"
          },
          "pinned_message": {
            "$ref": "#/components/schemas/Message",
            "description": "The most recent pinned message (by sending date). Returned only in getChat"
          },
          "slow_mode_delay": {
            "description": "For supergroups, the minimum allowed delay between consecutive messages sent by each unpriviledged user. Returned only in getChat",
            "type": "integer"
          },
          "sticker_set_name": {
            "description": "For supergroups, name of group sticker set. Returned only in getChat",
            "type": "string"
          },
          "title": {
            "description": "Title, for supergroups, channels and group chats",
            "type": "string"
          },
          "type": {
            "description": "Type of chat, can be either “private”, “group”, “supergroup” or “channel”",
            "type": "string"
          },
          "username": {
            "description": "Username, for private chats, supergroups and channels if available",
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "ChatInviteLink": {
        "type": "object",
        "properties": {
          "creator": {
            "$ref": "#/components/schemas/User",
            "description": "Creator of the link"
          },
          "expire_date": {
            "description": "Point in time (Unix timestamp) when the link will expire or has been expired",
            "type": "integer"
          },
          "invite_link": {
            "description": "The invite link. If the link was created by another chat administrator, then the second part of the link will be replaced with “…”",
            "type": "string"
          },
          "is_primary": {
            "description": "True, if the link is primary",
            "type": "boolean"
          },
          "is_revoked": {
            "description": "True, if the link is revoked",
            "type": "boolean"
          },
          "member_limit": {
            "description": "Maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999",
            "type": "integer"
          }
        },
        "required": [
          "invite_link",
          "creator",
          "is_primary",
          "is_revoked"
        ]
      },
      "ChatLocation": {
        "type": "object",
        "properties": {
          "address": {
            "description": "Location address; 1-64 characters, as defined by the chat owner",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "The location to which the supergroup is connected. Can't be a live location"
          }
        },
        "required": [
          "location",
          "address"
        ]
      },
      "ChatMemberAdministrator": {
        "type": "object",
        "properties": {
          "can_be_edited": {
            "description": "True, if the bot is allowed to edit administrator privileges of that user",
            "type": "boolean"
          },
          "can_change_info": {
            "description": "True, if the user is allowed to change the chat title, photo and other settings",
            "type": "boolean"
          },
          "can_delete_messages": {
            "description": "True, if the administrator can delete messages of other users",
            "type": "boolean"
          },
          "can_edit_messages": {
            "description": "True, if the administrator can edit messages of other users and can pin messages; channels only",
            "type": "boolean"
          },
          "can_invite_users": {
            "description": "True, if the user is allowed to invite new users to the chat",
            "type": "boolean"
          },
          "can_manage_chat": {
            "description": "True, if the administrator can access the chat event log, chat statistics, message statistics in channels, see channel members, see anonymous administrators in supergroups and ignore slow mode. Implied by any other administrator privilege",
            "type": "boolean"
          },
          "can_manage_voice_chats": {
            "description": "True, if the administrator can manage voice chats",
            "type": "boolean"
          },
          "can_pin_messages": {
            "description": "True, if the user is allowed to pin messages; groups and supergroups only",
            "type": "boolean"
          },
          "can_post_messages": {
            "description": "True, if the administrator can post in the channel; channels only",
            "type": "boolean"
          },
          "can_promote_members": {
            "description": "True, if the administrator can add new administrators with a subset of their own privileges or demote administrators that he has promoted, directly or indirectly (promoted by administrators that were appointed by the user)",
            "type": "boolean"
          },
          "can_restrict_members": {
            "description": "True, if the administrator can restrict, ban or unban chat members",
            "type": "boolean"
          },
          "custom_title": {
            "description": "Custom title for this user",
            "type": "string"
          },
          "is_anonymous": {
            "description": "True, if the user's presence in the chat is hidden",
            "type": "boolean"
          },
          "status": {
            "description": "The member's status in the chat, always “administrator”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "can_be_edited",
          "is_anonymous",
          "can_manage_chat",
          "can_delete_messages",
          "can_manage_voice_chats",
          "can_restrict_members",
          "can_promote_members",
          "can_change_info",
          "can_invite_users"
        ]
      },
      "ChatMemberBanned": {
        "type": "object",
        "properties": {
          "status": {
            "description": "The member's status in the chat, always “kicked”",
            "type": "string"
          },
          "until_date": {
            "description": "Date when restrictions will be lifted for this user; unix time. If 0, then the user is banned forever",
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "until_date"
        ]
      },
      "ChatMemberLeft": {
        "type": "object",
        "properties": {
          "status": {
            "description": "The member's status in the chat, always “left”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user"
        ]
      },
      "ChatMemberMember": {
        "type": "object",
        "properties": {
          "status": {
            "description": "The member's status in the chat, always “member”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user"
        ]
      },
      "ChatMemberOwner": {
        "type": "object",
        "properties": {
          "custom_title": {
            "description": "Custom title for this user",
            "type": "string"
          },
          "is_anonymous": {
            "description": "True, if the user's presence in the chat is hidden",
            "type": "boolean"
          },
          "status": {
            "description": "The member's status in the chat, always “creator”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "is_anonymous"
        ]
      },
      "ChatMemberRestricted": {
        "type": "object",
        "properties": {
          "can_add_web_page_previews": {
            "description": "True, if the user is allowed to add web page previews to their messages",
            "type": "boolean"
          },
          "can_change_info": {
            "description": "True, if the user is allowed to change the chat title, photo and other settings",
            "type": "boolean"
          },
          "can_invite_users": {
            "description": "True, if the user is allowed to invite new users to the chat",
            "type": "boolean"
          },
          "can_pin_messages": {
            "description": "True, if the user is allowed to pin messages",
            "type": "boolean"
          },
          "can_send_media_messages": {
            "description": "True, if the user is allowed to send audios, documents, photos, videos, video notes and voice notes",
            "type": "boolean"
          },
          "can_send_messages": {
            "description": "True, if the user is allowed to send text messages, contacts, locations and venues",
            "type": "boolean"
          },
          "can_send_other_messages": {
            "description": "True, if the user is allowed to send animations, games, stickers and use inline bots",
            "type": "boolean"
          },
          "can_send_polls": {
            "description": "True, if the user is allowed to send polls",
            "type": "boolean"
          },
          "is_member": {
            "description": "True, if the user is a member of the chat at the moment of the request",
            "type": "boolean"
          },
          "status": {
            "description": "The member's status in the chat, always “restricted”",
            "type": "string"
          },
          "until_date": {
            "description": "Date when restrictions will be lifted for this user; unix time. If 0, then the user is restricted forever",
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "is_member",
          "can_change_info",
          "can_invite_users",
          "can_pin_messages",
          "can_send_messages",
          "can_send_media_messages",
          "can_send_polls",
          "can_send_other_messages",
          "can_add_web_page_previews",
          "until_date"
        ]
      },
      "ChatMemberUpdated": {
        "type": "object",
        "properties": {
          "chat": {
            "$ref": "#/components/schemas/Chat",
            "description": "Chat the user belongs to"
          },
          "date": {
            "description": "Date the change was done in Unix time",
            "type": "integer"
          },
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "Performer of the action, which resulted in the change"
          },
          "invite_link": {
            "$ref": "#/components/schemas/ChatInviteLink",
            "description": "Chat invite link, which was used by the user to join the chat; for joining by invite link events only"
          },
          "new_chat_member": {
            "$ref": "#/components/schemas/ChatMember",
            "description": "New information about the chat member"
          },
          "old_chat_member": {
            "$ref": "#/components/schemas/ChatMember",
            "description": "Previous information about the chat member"
          }
        },
        "required": [
          "chat",
          "from",
          "date",
          "old_chat_member",
          "new_chat_member"
        ]
      },
      "ChatPermissions": {
        "type": "object",
        "properties": {
          "can_add_web_page_previews": {
            "description": "True, if the user is allowed to add web page previews to their messages, implies can_send_media_messages",
            "type": "boolean"
          },
          "can_change_info": {
            "description": "True, if the user is allowed to change the chat title, photo and other settings. Ignored in public supergroups",
            "type": "boolean"
          },
          "can_invite_users": {
            "description": "True, if the user is allowed to invite new users to the chat",
            "type": "boolean"
          },
          "can_pin_messages": {
            "description": "True, if the user is allowed to pin messages. Ignored in public supergroups",
            "type": "boolean"
          },
          "can_send_media_messages": {
            "description": "True, if the user is allowed to send audios, documents, photos, videos, video notes and voice notes, implies can_send_messages",
            "type": "boolean"
          },
          "can_send_messages": {
            "description": "True, if the user is allowed to send text messages, contacts, locations and venues",
            "type": "boolean"
          },
          "can_send_other_messages": {
            "description": "True, if the user is allowed to send animations, games, stickers and use inline bots, implies can_send_media_messages",
            "type": "boolean"
          },
          "can_send_polls": {
            "description": "True, if the user is allowed to send polls, implies can_send_messages",
            "type": "boolean"
          }
        }
      },
      "ChatPhoto": {
        "type": "object",
        "properties": {
          "big_file_id": {
            "description": "File identifier of big (640x640) chat photo. This file_id can be used only for photo download and only for as long as the photo is not changed",
            "type": "string"
          },
          "big_file_unique_id": {
            "description": "Unique file identifier of big (640x640) chat photo, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "small_file_id": {
            "description": "File identifier of small (160x160) chat photo. This file_id can be used only for photo download and only for as long as the photo is not changed",
            "type": "string"
          },
          "small_file_unique_id": {
            "description": "Unique file identifier of small (160x160) chat photo, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          }
        },
        "required": [
          "small_file_id",
          "small_file_unique_id",
          "big_file_id",
          "big_file_unique_id"
        ]
      },
      "ChosenInlineResult": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "The user that chose the result"
          },
          "inline_message_id": {
            "description": "Identifier of the sent inline message. Available only if there is an inline keyboard attached to the message. Will be also received in callback queries and can be used to edit the message",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Sender location, only for bots that require user location"
          },
          "query": {
            "description": "The query that was used to obtain the result",
            "type": "string"
          },
          "result_id": {
            "description": "The unique identifier for the result that was chosen",
            "type": "string"
          }
        },
        "required": [
          "result_id",
          "from",
          "query"
        ]
      },
      "Contact": {
        "type": "object",
        "properties": {
          "first_name": {
            "description": "Contact's first name",
            "type": "string"
          },
          "last_name": {
            "description": "Contact's last name",
            "type": "string"
          },
          "phone_number": {
            "description": "Contact's phone number",
            "type": "string"
          },
          "user_id": {
            "description": "Contact's user identifier in Telegram. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a 64-bit integer or double-precision float type are safe for storing this identifier",
            "type": "integer"
          },
          "vcard": {
            "description": "Additional data about the contact in the form of a vCard",
            "type": "string"
          }
        },
        "required": [
          "phone_number",
          "first_name"
        ]
      },
      "Dice": {
        "type": "object",
        "properties": {
          "emoji": {
            "description": "Emoji on which the dice throw animation is based",
            "type": "string"
          },
          "value": {
            "description": "Value of the dice, 1-6 for “”, “” and “” base emoji, 1-5 for “” and “” base emoji, 1-64 for “” base emoji",
            "type": "integer"
          }
        },
        "required": [
          "emoji",
          "value"
        ]
      },
      "Document": {
        "type": "object",
        "properties": {
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_name": {
            "description": "Original filename as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "mime_type": {
            "description": "MIME type of the file as defined by sender",
            "type": "string"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize",
            "description": "Document thumbnail as defined by sender"
          }
        },
        "required": [
          "file_id",
          "file_unique_id"
        ]
      },
      "EncryptedCredentials": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Base64-encoded encrypted JSON-serialized data with unique user's payload, data hashes and secrets required for EncryptedPassportElement decryption and authentication",
            "type": "string"
          },
          "hash": {
            "description": "Base64-encoded data hash for data authentication",
            "type": "string"
          },
          "secret": {
            "description": "Base64-encoded secret, encrypted with the bot's public RSA key, required for data decryption",
            "type": "string"
          }
        },
        "required": [
          "data",
          "hash",
          "secret"
        ]
      },
      "EncryptedPassportElement": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Base64-encoded encrypted Telegram Passport element data provided by the user, available for “personal_details”, “passport”, “driver_license”, “identity_card”, “internal_passport” and “address” types. Can be decrypted and verified using the accompanying EncryptedCredentials",
            "type": "string"
          },
          "email": {
            "description": "User's verified email address, available only for “email” type",
            "type": "string"
          },
          "front_side": {
            "$ref": "#/components/schemas/PassportFile",
            "description": "Encrypted file with the front side of the document, provided by the user. Available for “passport”, “driver_license”, “identity_card” and “internal_passport”. The file can be decrypted and verified using the accompanying EncryptedCredentials"
          },
          "hash": {
            "description": "Base64-encoded element hash for using in PassportElementErrorUnspecified",
            "type": "string"
          },
          "phone_number": {
            "description": "User's verified phone number, available only for “phone_number” type",
            "type": "string"
          },
          "reverse_side": {
            "$ref": "#/components/schemas/PassportFile",
            "description": "Encrypted file with the reverse side of the document, provided by the user. Available for “driver_license” and “identity_card”. The file can be decrypted and verified using the accompanying EncryptedCredentials"
          },
          "selfie": {
            "$ref": "#/components/schemas/PassportFile",
            "description": "Encrypted file with the selfie of the user holding a document, provided by the user; available for “passport”, “driver_license”, “identity_card” and “internal_passport”. The file can be decrypted and verified using the accompanying EncryptedCredentials"
          },
          "type": {
            "description": "Element type. One of “personal_details”, “passport”, “driver_license”, “identity_card”, “internal_passport”, “address”, “utility_bill”, “bank_statement”, “rental_agreement”, “passport_registration”, “temporary_registration”, “phone_number”, “email”",
            "type": "string"
          }
        },
        "required": [
          "type",
          "hash"
        ]
      },
      "File": {
        "type": "object",
        "properties": {
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_path": {
            "description": "File path. Use https://api.telegram.org/file/bot\u003ctoken\u003e/\u003cfile_path\u003e to get the file",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes, if known",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          }
        },
        "required": [
          "file_id",
          "file_unique_id"
        ]
      },
      "ForceReply": {
        "type": "object",
        "properties": {
          "force_reply": {
            "description": "Shows reply interface to the user, as if they manually selected the bot's message and tapped 'Reply'",
            "type": "boolean"
          },
          "input_field_placeholder": {
            "description": "The placeholder to be shown in the input field when the reply is active; 1-64 characters",
            "type": "string"
          },
          "selective": {
            "description": "Use this parameter if you want to force reply from specific users only. Targets: 1) users that are @mentioned in the text of the Message object; 2) if the bot's message is a reply (has reply_to_message_id), sender of the original message",
            "type": "boolean"
          }
        },
        "required": [
          "force_reply"
        ]
      },
      "Game": {
        "type": "object",
        "properties": {
          "animation": {
            "$ref": "#/components/schemas/Animation",
            "description": "Animation that will be displayed in the game message in chats. Upload via BotFather"
          },
          "description": {
            "description": "Description of the game",
            "type": "string"
          },
          "text": {
            "description": "Brief description of the game or high scores included in the game message. Can be automatically edited to include current high scores for the game when the bot calls setGameScore, or manually edited using editMessageText. 0-4096 characters",
            "type": "string"
          },
          "title": {
            "description": "Title of the game",
            "type": "string"
          }
        },
        "required": [
          "title",
          "description"
        ]
      },
      "GameHighScore": {
        "type": "object",
        "properties": {
          "position": {
            "description": "Position in high score table for the game",
            "type": "integer"
          },
          "score": {
            "description": "Score",
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "User"
          }
        },
        "required": [
          "position",
          "user",
          "score"
        ]
      },
      "InlineKeyboardButton": {
        "type": "object",
        "properties": {
          "callback_data": {
            "description": "Data to be sent in a callback query to the bot when button is pressed, 1-64 bytes",
            "type": "string"
          },
          "callback_game": {
            "$ref": "#/components/schemas/CallbackGame",
            "description": "Description of the game that will be launched when the user presses the button.NOTE: This type of button must always be the first button in the first row"
          },
          "login_url": {
            "$ref": "#/components/schemas/LoginUrl",
            "description": "An HTTP URL used to automatically authorize the user. Can be used as a replacement for the Telegram Login Widget"
          },
          "pay": {
            "description": "Specify True, to send a Pay button.NOTE: This type of button must always be the first button in the first row",
            "type": "boolean"
          },
          "switch_inline_query": {
            "description": "If set, pressing the button will prompt the user to select one of their chats, open that chat and insert the bot's username and the specified inline query in the input field. Can be empty, in which case just the bot's username will be inserted.Note: This offers an easy way for users to start using your bot in inline mode when they are currently in a private chat with it. Especially useful when combined with switch_pm… actions – in this case the user will be automatically returned to the chat they switched from, skipping the chat selection screen",
            "type": "string"
          },
          "switch_inline_query_current_chat": {
            "description": "If set, pressing the button will insert the bot's username and the specified inline query in the current chat's input field. Can be empty, in which case only the bot's username will be inserted.This offers a quick way for the user to open your bot in inline mode in the same chat – good for selecting something from multiple options",
            "type": "string"
          },
          "text": {
            "description": "Label text on the button",
            "type": "string"
          },
          "url": {
            "description": "HTTP or tg:// url to be opened when button is pressed",
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      },
      "InlineKeyboardMarkup": {
        "type": "object"
      },
      "InlineQuery": {
        "type": "object",
        "properties": {
          "chat_type": {
            "description": "Type of the chat, from which the inline query was sent. Can be either “sender” for a private chat with the inline query sender, “private”, “group”, “supergroup”, or “channel”. The chat type should be always known for requests sent from official clients and most third-party clients, unless the request was sent from a secret chat",
            "type": "string"
          },
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "Sender"
          },
          "id": {
            "description": "Unique identifier for this query",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Sender location, only for bots that request user location"
          },
          "offset": {
            "description": "Offset of the results to be returned, can be controlled by the bot",
            "type": "string"
          },
          "query": {
            "description": "Text of the query (up to 256 characters)",
            "type": "string"
          }
        },
        "required": [
          "id",
          "from",
          "query",
          "offset"
        ]
      },
      "InlineQueryResultArticle": {
        "type": "object",
        "properties": {
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "hide_url": {
            "description": "Pass True, if you don't want the URL to be shown in the message",
            "type": "boolean"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 Bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_height": {
            "description": "Thumbnail height",
            "type": "integer"
          },
          "thumb_url": {
            "description": "Url of the thumbnail for the result",
            "type": "string"
          },
          "thumb_width": {
            "description": "Thumbnail width",
            "type": "integer"
          },
          "title": {
            "description": "Title of the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be article",
            "type": "string",
            "default": "article"
          },
          "url": {
            "description": "URL of the result",
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "title",
          "input_message_content"
        ]
      },
      "InlineQueryResultAudio": {
        "type": "object",
        "properties": {
          "audio_duration": {
            "description": "Audio duration in seconds",
            "type": "integer"
          },
          "audio_url": {
            "description": "A valid URL for the audio file",
            "type": "string"
          },
          "caption": {
            "description": "Caption, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the audio"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the audio caption. See formatting options for more details",
            "type": "string"
          },
          "performer": {
            "description": "Performer",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Title",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be audio",
            "type": "string",
            "default": "audio"
          }
        },
        "required": [
          "type",
          "id",
          "audio_url",
          "title"
        ]
      },
      "InlineQueryResultCachedAudio": {
        "type": "object",
        "properties": {
          "audio_file_id": {
            "description": "A valid file identifier for the audio file",
            "type": "string"
          },
          "caption": {
            "description": "Caption, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the audio"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the audio caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "type": {
            "description": "Type of the result, must be audio",
            "type": "string",
            "default": "audio"
          }
        },
        "required": [
          "type",
          "id",
          "audio_file_id"
        ]
      },
      "InlineQueryResultCachedDocument": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the document to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "document_file_id": {
            "description": "A valid file identifier for the file",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the file"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the document caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be document",
            "type": "string",
            "default": "document"
          }
        },
        "required": [
          "type",
          "id",
          "title",
          "document_file_id"
        ]
      },
      "InlineQueryResultCachedGif": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the GIF file to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "gif_file_id": {
            "description": "A valid file identifier for the GIF file",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the GIF animation"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be gif",
            "type": "string",
            "default": "gif"
          }
        },
        "required": [
          "type",
          "id",
          "gif_file_id"
        ]
      },
      "InlineQueryResultCachedMpeg4Gif": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the MPEG-4 file to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the video animation"
          },
          "mpeg4_file_id": {
            "description": "A valid file identifier for the MP4 file",
            "type": "string"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be mpeg4_gif",
            "type": "string",
            "default": "mpeg4_gif"
          }
        },
        "required": [
          "type",
          "id",
          "mpeg4_file_id"
        ]
      },
      "InlineQueryResultCachedPhoto": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the photo to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the photo"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the photo caption. See formatting options for more details",
            "type": "string"
          },
          "photo_file_id": {
            "description": "A valid file identifier of the photo",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be photo",
            "type": "string",
            "default": "photo"
          }
        },
        "required": [
          "type",
          "id",
          "photo_file_id"
        ]
      },
      "InlineQueryResultCachedSticker": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the sticker"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "sticker_file_id": {
            "description": "A valid file identifier of the sticker",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be sticker",
            "type": "string",
            "default": "sticker"
          }
        },
        "required": [
          "type",
          "id",
          "sticker_file_id"
        ]
      },
      "InlineQueryResultCachedVideo": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the video to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the video"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the video caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be video",
            "type": "string",
            "default": "video"
          },
          "video_file_id": {
            "description": "A valid file identifier for the video file",
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "video_file_id",
          "title"
        ]
      },
      "InlineQueryResultCachedVoice": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the voice message"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the voice message caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "title": {
            "description": "Voice message title",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be voice",
            "type": "string",
            "default": "voice"
          },
          "voice_file_id": {
            "description": "A valid file identifier for the voice message",
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "voice_file_id",
          "title"
        ]
      },
      "InlineQueryResultContact": {
        "type": "object",
        "properties": {
          "first_name": {
            "description": "Contact's first name",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 Bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the contact"
          },
          "last_name": {
            "description": "Contact's last name",
            "type": "string"
          },
          "phone_number": {
            "description": "Contact's phone number",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_height": {
            "description": "Thumbnail height",
            "type": "integer"
          },
          "thumb_url": {
            "description": "Url of the thumbnail for the result",
            "type": "string"
          },
          "thumb_width": {
            "description": "Thumbnail width",
            "type": "integer"
          },
          "type": {
            "description": "Type of the result, must be contact",
            "type": "string",
            "default": "contact"
          },
          "vcard": {
            "description": "Additional data about the contact in the form of a vCard, 0-2048 bytes",
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "phone_number",
          "first_name"
        ]
      },
      "InlineQueryResultDocument": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the document to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "document_url": {
            "description": "A valid URL for the file",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the file"
          },
          "mime_type": {
            "description": "Mime type of the content of the file, either “application/pdf” or “application/zip”",
            "type": "string"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the document caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_height": {
            "description": "Thumbnail height",
            "type": "integer"
          },
          "thumb_url": {
            "description": "URL of the thumbnail (JPEG only) for the file",
            "type": "string"
          },
          "thumb_width": {
            "description": "Thumbnail width",
            "type": "integer"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be document",
            "type": "string",
            "default": "document"
          }
        },
        "required": [
          "type",
          "id",
          "title",
          "document_url",
          "mime_type"
        ]
      },
      "InlineQueryResultGame": {
        "type": "object",
        "properties": {
          "game_short_name": {
            "description": "Short name of the game",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "type": {
            "description": "Type of the result, must be game",
            "type": "string",
            "default": "game"
          }
        },
        "required": [
          "type",
          "id",
          "game_short_name"
        ]
      },
      "InlineQueryResultGif": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the GIF file to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "gif_duration": {
            "description": "Duration of the GIF in seconds",
            "type": "integer"
          },
          "gif_height": {
            "description": "Height of the GIF",
            "type": "integer"
          },
          "gif_url": {
            "description": "A valid URL for the GIF file. File size must not exceed 1MB",
            "type": "string"
          },
          "gif_width": {
            "description": "Width of the GIF",
            "type": "integer"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the GIF animation"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_mime_type": {
            "description": "MIME type of the thumbnail, must be one of “image/jpeg”, “image/gif”, or “video/mp4”. Defaults to “image/jpeg”",
            "type": "string"
          },
          "thumb_url": {
            "description": "URL of the static (JPEG or GIF) or animated (MPEG4) thumbnail for the result",
            "type": "string"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be gif",
            "type": "string",
            "default": "gif"
          }
        },
        "required": [
          "type",
          "id",
          "gif_url",
          "thumb_url"
        ]
      },
      "InlineQueryResultLocation": {
        "type": "object",
        "properties": {
          "heading": {
            "description": "For live locations, a direction in which the user is moving, in degrees. Must be between 1 and 360 if specified",
            "type": "integer"
          },
          "horizontal_accuracy": {
            "description": "The radius of uncertainty for the location, measured in meters; 0-1500",
            "type": "number"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 Bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the location"
          },
          "latitude": {
            "description": "Location latitude in degrees",
            "type": "number"
          },
          "live_period": {
            "description": "Period in seconds for which the location can be updated, should be between 60 and 86400",
            "type": "integer"
          },
          "longitude": {
            "description": "Location longitude in degrees",
            "type": "number"
          },
          "proximity_alert_radius": {
            "description": "For live locations, a maximum distance for proximity alerts about approaching another chat member, in meters. Must be between 1 and 100000 if specified",
            "type": "integer"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_height": {
            "description": "Thumbnail height",
            "type": "integer"
          },
          "thumb_url": {
            "description": "Url of the thumbnail for the result",
            "type": "string"
          },
          "thumb_width": {
            "description": "Thumbnail width",
            "type": "integer"
          },
          "title": {
            "description": "Location title",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be location",
            "type": "string",
            "default": "location"
          }
        },
        "required": [
          "type",
          "id",
          "latitude",
          "longitude",
          "title"
        ]
      },
      "InlineQueryResultMpeg4Gif": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the MPEG-4 file to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the video animation"
          },
          "mpeg4_duration": {
            "description": "Video duration in seconds",
            "type": "integer"
          },
          "mpeg4_height": {
            "description": "Video height",
            "type": "integer"
          },
          "mpeg4_url": {
            "description": "A valid URL for the MP4 file. File size must not exceed 1MB",
            "type": "string"
          },
          "mpeg4_width": {
            "description": "Video width",
            "type": "integer"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the caption. See formatting options for more details",
            "type": "string"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_mime_type": {
            "description": "MIME type of the thumbnail, must be one of “image/jpeg”, “image/gif”, or “video/mp4”. Defaults to “image/jpeg”",
            "type": "string"
          },
          "thumb_url": {
            "description": "URL of the static (JPEG or GIF) or animated (MPEG4) thumbnail for the result",
            "type": "string"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be mpeg4_gif",
            "type": "string",
            "default": "mpeg4_gif"
          }
        },
        "required": [
          "type",
          "id",
          "mpeg4_url",
          "thumb_url"
        ]
      },
      "InlineQueryResultPhoto": {
        "type": "object",
        "properties": {
          "caption": {
            "description": "Caption of the photo to be sent, 0-1024 characters after entities parsing",
            "type": "string"
          },
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent instead of the photo"
          },
          "parse_mode": {
            "description": "Mode for parsing entities in the photo caption. See formatting options for more details",
            "type": "string"
          },
          "photo_height": {
            "description": "Height of the photo",
            "type": "integer"
          },
          "photo_url": {
            "description": "A valid URL of the photo. Photo must be in JPEG format. Photo size must not exceed 5MB",
            "type": "string"
          },
          "photo_width": {
            "description": "Width of the photo",
            "type": "integer"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_url": {
            "description": "URL of the thumbnail for the photo",
            "type": "string"
          },
          "title": {
            "description": "Title for the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be photo",
            "type": "string",
            "default": "photo"
          }
        },
        "required": [
          "type",
          "id",
          "photo_url",
          "thumb_url"
        ]
      },
      "InlineQueryResultVenue": {
        "type": "object",
        "properties": {
          "address": {
            "description": "Address of the venue",
            "type": "string"
          },
          "foursquare_id": {
            "description": "Foursquare identifier of the venue if known",
            "type": "string"
[...]
