{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "description": "API for Telegram bots",
    "termsOfService": "https://telegram.org/tos",
    "version": "6.3"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}/",
      "description": "production",
      "variables": {
        "token": {
          "default": "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11",
          "description": "Telegram Bot API token"
        }
      }
    },
    {
      "url": "https://api.telegram.org/bot{token}/test",
      "description": "test",
      "variables": {
        "token": {
          "default": "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11",
          "description": "Telegram Bot API token"
        }
      }
    }
  ],
  "paths": {
    "/addStickerToSet": {
      "post": {
        "description": "Use this method to add a new sticker to a set created by the bot. You **must** use exactly one of the fields _png_sticker_, _tgs_sticker_, or _webm_sticker_. Animated stickers can be added to animated sticker sets and only to them. Animated sticker sets can have up to 50 stickers. Static sticker sets can have up to 120 stickers. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#addstickertoset"
        },
        "operationId": "addStickerToSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addStickerToSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/answerCallbackQuery": {
      "post": {
        "description": "Use this method to send answers to callback queries sent from [inline keyboards](https://core.telegram.org/bots/features#inline-keyboards). The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#answercallbackquery"
        },
        "operationId": "answerCallbackQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerCallbackQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/answerInlineQuery": {
      "post": {
        "description": "Use this method to send answers to an inline query. On success, _True_ is returned.No more than **50** results per query are allowed.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#answerinlinequery"
        },
        "operationId": "answerInlineQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerInlineQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/answerPreCheckoutQuery": {
      "post": {
        "description": "Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an [Update](https://core.telegram.org/bots/api#update) with the field _pre_checkout_query_. Use this method to respond to such pre-checkout queries. On success, _True_ is returned. **Note:** The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#answerprecheckoutquery"
        },
        "operationId": "answerPreCheckoutQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerPreCheckoutQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/answerShippingQuery": {
      "post": {
        "description": "If you sent an invoice requesting a shipping address and the parameter _is_flexible_ was specified, the Bot API will send an [Update](https://core.telegram.org/bots/api#update) with a _shipping_query_ field to the bot. Use this method to reply to shipping queries. On success, _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#answershippingquery"
        },
        "operationId": "answerShippingQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerShippingQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/answerWebAppQuery": {
      "post": {
        "description": "Use this method to set the result of an interaction with a [Web App](https://core.telegram.org/bots/webapps) and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a [SentWebAppMessage](https://core.telegram.org/bots/api#sentwebappmessage) object is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#answerwebappquery"
        },
        "operationId": "answerWebAppQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerWebAppQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/approveChatJoinRequest": {
      "post": {
        "description": "Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the _can_invite_users_ administrator right. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#approvechatjoinrequest"
        },
        "operationId": "approveChatJoinRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/approveChatJoinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/banChatMember": {
      "post": {
        "description": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless [unbanned](https://core.telegram.org/bots/api#unbanchatmember) first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#banchatmember"
        },
        "operationId": "banChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/banChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/banChatSenderChat": {
      "post": {
        "description": "Use this method to ban a channel chat in a supergroup or a channel. Until the chat is [unbanned](https://core.telegram.org/bots/api#unbanchatsenderchat), the owner of the banned chat won't be able to send messages on behalf of **any of their channels**. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#banchatsenderchat"
        },
        "operationId": "banChatSenderChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/banChatSenderChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/close": {
      "post": {
        "description": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns _True_ on success. Requires no parameters.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#close"
        },
        "operationId": "close",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/closeForumTopic": {
      "post": {
        "description": "Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the _can_manage_topics_ administrator rights, unless it is the creator of the topic. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#closeforumtopic"
        },
        "operationId": "closeForumTopic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/closeForumTopic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/copyMessage": {
      "post": {
        "description": "Use this method to copy messages of any kind. Service messages and invoice messages can't be copied. A quiz [poll](https://core.telegram.org/bots/api#poll) can be copied only if the value of the field _correct_option_id_ is known to the bot. The method is analogous to the method [forwardMessage](https://core.telegram.org/bots/api#forwardmessage), but the copied message doesn't have a link to the original message. Returns the [MessageId](https://core.telegram.org/bots/api#messageid) of the sent message on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#copymessage"
        },
        "operationId": "copyMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/copyMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageId"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/createChatInviteLink": {
      "post": {
        "description": "Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method [revokeChatInviteLink](https://core.telegram.org/bots/api#revokechatinvitelink). Returns the new invite link as [ChatInviteLink](https://core.telegram.org/bots/api#chatinvitelink) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#createchatinvitelink"
        },
        "operationId": "createChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultChatInviteLink"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/createForumTopic": {
      "post": {
        "description": "Use this method to create a topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the _can_manage_topics_ administrator rights. Returns information about the created topic as a [ForumTopic](https://core.telegram.org/bots/api#forumtopic) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#createforumtopic"
        },
        "operationId": "createForumTopic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createForumTopic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/createInvoiceLink": {
      "post": {
        "description": "Use this method to create a link for an invoice. Returns the created invoice link as _String_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#createinvoicelink"
        },
        "operationId": "createInvoiceLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createInvoiceLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultString"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/createNewStickerSet": {
      "post": {
        "description": "Use this method to create a new sticker set owned by a user. The bot will be able to edit the sticker set thus created. You **must** use exactly one of the fields _png_sticker_, _tgs_sticker_, or _webm_sticker_. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#createnewstickerset"
        },
        "operationId": "createNewStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createNewStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/declineChatJoinRequest": {
      "post": {
        "description": "Use this method to decline a chat join request. The bot must be an administrator in the chat for this to work and must have the _can_invite_users_ administrator right. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#declinechatjoinrequest"
        },
        "operationId": "declineChatJoinRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/declineChatJoinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteChatPhoto": {
      "post": {
        "description": "Use this method to delete a chat photo. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deletechatphoto"
        },
        "operationId": "deleteChatPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteChatPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteChatStickerSet": {
      "post": {
        "description": "Use this method to delete a group sticker set from a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Use the field _can_set_sticker_set_ optionally returned in [getChat](https://core.telegram.org/bots/api#getchat) requests to check if the bot can use this method. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deletechatstickerset"
        },
        "operationId": "deleteChatStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteChatStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteForumTopic": {
      "post": {
        "description": "Use this method to delete a forum topic along with all its messages in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the _can_delete_messages_ administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deleteforumtopic"
        },
        "operationId": "deleteForumTopic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteForumTopic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteMessage": {
      "post": {
        "description": "Use this method to delete a message, including service messages, with the following limitations:- A message can only be deleted if it was sent less than 48 hours ago.- Service messages about a supergroup, channel, or forum topic creation can't be deleted.- A dice message in a private chat can only be deleted if it was sent more than 24 hours ago.- Bots can delete outgoing messages in private chats, groups, and supergroups.- Bots can delete incoming messages in private chats.- Bots granted _can_post_messages_ permissions can delete outgoing messages in channels.- If the bot is an administrator of a group, it can delete any message there.- If the bot has _can_delete_messages_ permission in a supergroup or a channel, it can delete any message there.Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deletemessage"
        },
        "operationId": "deleteMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteMyCommands": {
      "post": {
        "description": "Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, [higher level commands](https://core.telegram.org/bots/api#determining-list-of-commands) will be shown to affected users. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deletemycommands"
        },
        "operationId": "deleteMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteMyCommands"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteStickerFromSet": {
      "post": {
        "description": "Use this method to delete a sticker from a set created by the bot. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deletestickerfromset"
        },
        "operationId": "deleteStickerFromSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteStickerFromSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/deleteWebhook": {
      "post": {
        "description": "Use this method to remove webhook integration if you decide to switch back to [getUpdates](https://core.telegram.org/bots/api#getupdates). Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#deletewebhook"
        },
        "operationId": "deleteWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editChatInviteLink": {
      "post": {
        "description": "Use this method to edit a non-primary invite link created by the bot. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the edited invite link as a [ChatInviteLink](https://core.telegram.org/bots/api#chatinvitelink) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editchatinvitelink"
        },
        "operationId": "editChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultChatInviteLink"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editForumTopic": {
      "post": {
        "description": "Use this method to edit name and icon of a topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have _can_manage_topics_ administrator rights, unless it is the creator of the topic. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editforumtopic"
        },
        "operationId": "editForumTopic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editForumTopic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editMessageCaption": {
      "post": {
        "description": "Use this method to edit captions of messages. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editmessagecaption"
        },
        "operationId": "editMessageCaption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageCaption"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageOrBoolean"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editMessageLiveLocation": {
      "post": {
        "description": "Use this method to edit live location messages. A location can be edited until its _live_period_ expires or editing is explicitly disabled by a call to [stopMessageLiveLocation](https://core.telegram.org/bots/api#stopmessagelivelocation). On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editmessagelivelocation"
        },
        "operationId": "editMessageLiveLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageLiveLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageOrBoolean"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editMessageMedia": {
      "post": {
        "description": "Use this method to edit animation, audio, document, photo, or video messages. If a message is part of a message album, then it can be edited only to an audio for audio albums, only to a document for document albums and to a photo or a video otherwise. When an inline message is edited, a new file can't be uploaded; use a previously uploaded file via its file_id or specify a URL. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editmessagemedia"
        },
        "operationId": "editMessageMedia",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageMedia"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageOrBoolean"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editMessageReplyMarkup": {
      "post": {
        "description": "Use this method to edit only the reply markup of messages. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editmessagereplymarkup"
        },
        "operationId": "editMessageReplyMarkup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageReplyMarkup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageOrBoolean"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/editMessageText": {
      "post": {
        "description": "Use this method to edit text and [game](https://core.telegram.org/bots/api#games) messages. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#editmessagetext"
        },
        "operationId": "editMessageText",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageText"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageOrBoolean"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/exportChatInviteLink": {
      "post": {
        "description": "Use this method to generate a new primary invite link for a chat; any previously generated primary link is revoked. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the new invite link as _String_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#exportchatinvitelink"
        },
        "operationId": "exportChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/exportChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultString"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/forwardMessage": {
      "post": {
        "description": "Use this method to forward messages of any kind. Service messages can't be forwarded. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#forwardmessage"
        },
        "operationId": "forwardMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/forwardMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getChat": {
      "post": {
        "description": "Use this method to get up to date information about the chat (current name of the user for one-on-one conversations, current username of a user, group or channel, etc.). Returns a [Chat](https://core.telegram.org/bots/api#chat) object on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getchat"
        },
        "operationId": "getChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultChat"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getChatAdministrators": {
      "post": {
        "description": "Use this method to get a list of administrators in a chat, which aren't bots. Returns an Array of [ChatMember](https://core.telegram.org/bots/api#chatmember) objects.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getchatadministrators"
        },
        "operationId": "getChatAdministrators",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatAdministrators"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfChatMember"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getChatMember": {
      "post": {
        "description": "Use this method to get information about a member of a chat. Returns a [ChatMember](https://core.telegram.org/bots/api#chatmember) object on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getchatmember"
        },
        "operationId": "getChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultChatMember"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getChatMemberCount": {
      "post": {
        "description": "Use this method to get the number of members in a chat. Returns _Int_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getchatmembercount"
        },
        "operationId": "getChatMemberCount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMemberCount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultInt"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getChatMenuButton": {
      "post": {
        "description": "Use this method to get the current value of the bot's menu button in a private chat, or the default menu button. Returns [MenuButton](https://core.telegram.org/bots/api#menubutton) on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getchatmenubutton"
        },
        "operationId": "getChatMenuButton",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMenuButton"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getCustomEmojiStickers": {
      "post": {
        "description": "Use this method to get information about custom emoji stickers by their identifiers. Returns an Array of [Sticker](https://core.telegram.org/bots/api#sticker) objects.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getcustomemojistickers"
        },
        "operationId": "getCustomEmojiStickers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getCustomEmojiStickers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfSticker"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getFile": {
      "post": {
        "description": "Use this method to get basic information about a file and prepare it for downloading. For the moment, bots can download files of up to 20MB in size. On success, a [File](https://core.telegram.org/bots/api#file) object is returned. The file can then be downloaded via the link `https://api.telegram.org/file/bot\u003ctoken\u003e/\u003cfile_path\u003e`, where `\u003cfile_path\u003e` is taken from the response. It is guaranteed that the link will be valid for at least 1 hour. When the link expires, a new one can be requested by calling [getFile](https://core.telegram.org/bots/api#getfile) again.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getfile"
        },
        "operationId": "getFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultFile"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getForumTopicIconStickers": {
      "post": {
        "description": "Use this method to get custom emoji stickers, which can be used as a forum topic icon by any user. Requires no parameters. Returns an Array of [Sticker](https://core.telegram.org/bots/api#sticker) objects.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getforumtopiciconstickers"
        },
        "operationId": "getForumTopicIconStickers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfSticker"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getGameHighScores": {
      "post": {
        "description": "Use this method to get data for high score tables. Will return the score of the specified user and several of their neighbors in a game. Returns an Array of [GameHighScore](https://core.telegram.org/bots/api#gamehighscore) objects.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getgamehighscores"
        },
        "operationId": "getGameHighScores",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getGameHighScores"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfGameHighScore"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getMe": {
      "post": {
        "description": "A simple method for testing your bot's authentication token. Requires no parameters. Returns basic information about the bot in form of a [User](https://core.telegram.org/bots/api#user) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getme"
        },
        "operationId": "getMe",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultUser"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getMyCommands": {
      "post": {
        "description": "Use this method to get the current list of the bot's commands for the given scope and user language. Returns an Array of [BotCommand](https://core.telegram.org/bots/api#botcommand) objects. If commands aren't set, an empty list is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getmycommands"
        },
        "operationId": "getMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getMyCommands"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfBotCommand"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getMyDefaultAdministratorRights": {
      "post": {
        "description": "Use this method to get the current default administrator rights of the bot. Returns [ChatAdministratorRights](https://core.telegram.org/bots/api#chatadministratorrights) on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getmydefaultadministratorrights"
        },
        "operationId": "getMyDefaultAdministratorRights",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getMyDefaultAdministratorRights"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getStickerSet": {
      "post": {
        "description": "Use this method to get a sticker set. On success, a [StickerSet](https://core.telegram.org/bots/api#stickerset) object is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getstickerset"
        },
        "operationId": "getStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultStickerSet"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getUpdates": {
      "post": {
        "description": "Use this method to receive incoming updates using long polling ([wiki](https://en.wikipedia.org/wiki/Push_technology#Long_polling)). Returns an Array of [Update](https://core.telegram.org/bots/api#update) objects.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getupdates"
        },
        "operationId": "getUpdates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getUpdates"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfUpdate"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getUserProfilePhotos": {
      "post": {
        "description": "Use this method to get a list of profile pictures for a user. Returns a [UserProfilePhotos](https://core.telegram.org/bots/api#userprofilephotos) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getuserprofilephotos"
        },
        "operationId": "getUserProfilePhotos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getUserProfilePhotos"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultUserProfilePhotos"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/getWebhookInfo": {
      "post": {
        "description": "Use this method to get current webhook status. Requires no parameters. On success, returns a [WebhookInfo](https://core.telegram.org/bots/api#webhookinfo) object. If the bot is using [getUpdates](https://core.telegram.org/bots/api#getupdates), will return an object with the _url_ field empty.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#getwebhookinfo"
        },
        "operationId": "getWebhookInfo",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultWebhookInfo"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/leaveChat": {
      "post": {
        "description": "Use this method for your bot to leave a group, supergroup or channel. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#leavechat"
        },
        "operationId": "leaveChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/leaveChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/logOut": {
      "post": {
        "description": "Use this method to log out from the cloud Bot API server before launching the bot locally. You **must** log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns _True_ on success. Requires no parameters.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#logout"
        },
        "operationId": "logOut",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/pinChatMessage": {
      "post": {
        "description": "Use this method to add a message to the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can_pin_messages' administrator right in a supergroup or 'can_edit_messages' administrator right in a channel. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#pinchatmessage"
        },
        "operationId": "pinChatMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pinChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/promoteChatMember": {
      "post": {
        "description": "Use this method to promote or demote a user in a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Pass _False_ for all boolean parameters to demote a user. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#promotechatmember"
        },
        "operationId": "promoteChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/promoteChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/reopenForumTopic": {
      "post": {
        "description": "Use this method to reopen a closed topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the _can_manage_topics_ administrator rights, unless it is the creator of the topic. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#reopenforumtopic"
        },
        "operationId": "reopenForumTopic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reopenForumTopic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/restrictChatMember": {
      "post": {
        "description": "Use this method to restrict a user in a supergroup. The bot must be an administrator in the supergroup for this to work and must have the appropriate administrator rights. Pass _True_ for all permissions to lift restrictions from a user. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#restrictchatmember"
        },
        "operationId": "restrictChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/restrictChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revokeChatInviteLink": {
      "post": {
        "description": "Use this method to revoke an invite link created by the bot. If the primary link is revoked, a new link is automatically generated. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the revoked invite link as [ChatInviteLink](https://core.telegram.org/bots/api#chatinvitelink) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#revokechatinvitelink"
        },
        "operationId": "revokeChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/revokeChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultChatInviteLink"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendAnimation": {
      "post": {
        "description": "Use this method to send animation files (GIF or H.264/MPEG-4 AVC video without sound). On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned. Bots can currently send animation files of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendanimation"
        },
        "operationId": "sendAnimation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendAnimation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendAudio": {
      "post": {
        "description": "For sending voice messages, use the [sendVoice](https://core.telegram.org/bots/api#sendvoice) method instead.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendaudio"
        },
        "operationId": "sendAudio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendAudio"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendChatAction": {
      "post": {
        "description": "We only recommend using this method when a response from the bot will take a **noticeable** amount of time to arrive.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendchataction"
        },
        "operationId": "sendChatAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendChatAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendContact": {
      "post": {
        "description": "Use this method to send phone contacts. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendcontact"
        },
        "operationId": "sendContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendDice": {
      "post": {
        "description": "Use this method to send an animated emoji that will display a random value. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#senddice"
        },
        "operationId": "sendDice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendDice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendDocument": {
      "post": {
        "description": "Use this method to send general files. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#senddocument"
        },
        "operationId": "sendDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendGame": {
      "post": {
        "description": "Use this method to send a game. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendgame"
        },
        "operationId": "sendGame",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendGame"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendInvoice": {
      "post": {
        "description": "Use this method to send invoices. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendinvoice"
        },
        "operationId": "sendInvoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendLocation": {
      "post": {
        "description": "Use this method to send point on the map. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendlocation"
        },
        "operationId": "sendLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendMediaGroup": {
      "post": {
        "description": "Use this method to send a group of photos, videos, documents or audios as an album. Documents and audio files can be only grouped in an album with messages of the same type. On success, an array of [Messages](https://core.telegram.org/bots/api#message) that were sent is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendmediagroup"
        },
        "operationId": "sendMediaGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMediaGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultArrayOfMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "description": "Use this method to send text messages. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendmessage"
        },
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendPhoto": {
      "post": {
        "description": "Use this method to send photos. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendphoto"
        },
        "operationId": "sendPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendPoll": {
      "post": {
        "description": "Use this method to send a native poll. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendpoll"
        },
        "operationId": "sendPoll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendPoll"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendSticker": {
      "post": {
        "description": "Use this method to send static .WEBP, [animated](https://telegram.org/blog/animated-stickers) .TGS, or [video](https://telegram.org/blog/video-stickers-better-reactions) .WEBM stickers. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendsticker"
        },
        "operationId": "sendSticker",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendSticker"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendVenue": {
      "post": {
        "description": "Use this method to send information about a venue. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendvenue"
        },
        "operationId": "sendVenue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVenue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendVideo": {
      "post": {
        "description": "Use this method to send video files, Telegram clients support MPEG4 videos (other formats may be sent as [Document](https://core.telegram.org/bots/api#document)). On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendvideo"
        },
        "operationId": "sendVideo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVideo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendVideoNote": {
      "post": {
        "description": "As of [v.4.0](https://telegram.org/blog/video-messages-and-telescope), Telegram clients support rounded square MPEG4 videos of up to 1 minute long. Use this method to send video messages. On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendvideonote"
        },
        "operationId": "sendVideoNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVideoNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sendVoice": {
      "post": {
        "description": "Use this method to send audio files, if you want Telegram clients to display the file as a playable voice message. For this to work, your audio must be in an .OGG file encoded with OPUS (other formats may be sent as [Audio](https://core.telegram.org/bots/api#audio) or [Document](https://core.telegram.org/bots/api#document)). On success, the sent [Message](https://core.telegram.org/bots/api#message) is returned. Bots can currently send voice messages of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#sendvoice"
        },
        "operationId": "sendVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessage"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatAdministratorCustomTitle": {
      "post": {
        "description": "Use this method to set a custom title for an administrator in a supergroup promoted by the bot. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchatadministratorcustomtitle"
        },
        "operationId": "setChatAdministratorCustomTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatAdministratorCustomTitle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatDescription": {
      "post": {
        "description": "Use this method to change the description of a group, a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchatdescription"
        },
        "operationId": "setChatDescription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatDescription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatMenuButton": {
      "post": {
        "description": "Use this method to change the bot's menu button in a private chat, or the default menu button. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchatmenubutton"
        },
        "operationId": "setChatMenuButton",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatMenuButton"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatPermissions": {
      "post": {
        "description": "Use this method to set default chat permissions for all members. The bot must be an administrator in the group or a supergroup for this to work and must have the _can_restrict_members_ administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchatpermissions"
        },
        "operationId": "setChatPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatPermissions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatPhoto": {
      "post": {
        "description": "Use this method to set a new profile photo for the chat. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchatphoto"
        },
        "operationId": "setChatPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatStickerSet": {
      "post": {
        "description": "Use this method to set a new group sticker set for a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Use the field _can_set_sticker_set_ optionally returned in [getChat](https://core.telegram.org/bots/api#getchat) requests to check if the bot can use this method. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchatstickerset"
        },
        "operationId": "setChatStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setChatTitle": {
      "post": {
        "description": "Use this method to change the title of a chat. Titles can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setchattitle"
        },
        "operationId": "setChatTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatTitle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setGameScore": {
      "post": {
        "description": "Use this method to set the score of the specified user in a game message. On success, if the message is not an inline message, the [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned. Returns an error, if the new score is not greater than the user's current score in the chat and _force_ is _False_.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setgamescore"
        },
        "operationId": "setGameScore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setGameScore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setMyCommands": {
      "post": {
        "description": "Use this method to change the list of the bot's commands. See [this manual](https://core.telegram.org/bots/features#commands) for more details about bot commands. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setmycommands"
        },
        "operationId": "setMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setMyDefaultAdministratorRights": {
      "post": {
        "description": "Use this method to change the default administrator rights requested by the bot when it's added as an administrator to groups or channels. These rights will be suggested to users, but they are are free to modify the list before adding the bot. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setmydefaultadministratorrights"
        },
        "operationId": "setMyDefaultAdministratorRights",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setMyDefaultAdministratorRights"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setPassportDataErrors": {
      "post": {
        "description": "Use this if the data submitted by the user doesn't satisfy the standards your service requires for any reason. For example, if a birthday date seems invalid, a submitted document is blurry, a scan shows evidence of tampering, etc. Supply some details in the error message to make sure the user knows how to correct the issues.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setpassportdataerrors"
        },
        "operationId": "setPassportDataErrors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setPassportDataErrors"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setStickerPositionInSet": {
      "post": {
        "description": "Use this method to move a sticker in a set created by the bot to a specific position. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setstickerpositioninset"
        },
        "operationId": "setStickerPositionInSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setStickerPositionInSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setStickerSetThumb": {
      "post": {
        "description": "Use this method to set the thumbnail of a sticker set. Animated thumbnails can be set for animated sticker sets only. Video thumbnails can be set only for video sticker sets only. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setstickersetthumb"
        },
        "operationId": "setStickerSetThumb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setStickerSetThumb"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/setWebhook": {
      "post": {
        "description": "If you'd like to make sure that the webhook was set by you, you can specify secret data in the parameter _secret_token_. If specified, the request will contain a header `X-Telegram-Bot-Api-Secret-Token` with the secret token as content.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#setwebhook"
        },
        "operationId": "setWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setWebhook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/stopMessageLiveLocation": {
      "post": {
        "description": "Use this method to stop updating a live location message before _live_period_ expires. On success, if the message is not an inline message, the edited [Message](https://core.telegram.org/bots/api#message) is returned, otherwise _True_ is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#stopmessagelivelocation"
        },
        "operationId": "stopMessageLiveLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stopMessageLiveLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMessageOrBoolean"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/stopPoll": {
      "post": {
        "description": "Use this method to stop a poll which was sent by the bot. On success, the stopped [Poll](https://core.telegram.org/bots/api#poll) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#stoppoll"
        },
        "operationId": "stopPoll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stopPoll"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultPoll"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/unbanChatMember": {
      "post": {
        "description": "Use this method to unban a previously banned user in a supergroup or channel. The user will **not** return to the group or channel automatically, but will be able to join via link, etc. The bot must be an administrator for this to work. By default, this method guarantees that after the call the user is not a member of the chat, but will be able to join it. So if the user is a member of the chat they will also be **removed** from the chat. If you don't want this, use the parameter _only_if_banned_. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#unbanchatmember"
        },
        "operationId": "unbanChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unbanChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/unbanChatSenderChat": {
      "post": {
        "description": "Use this method to unban a previously banned channel chat in a supergroup or channel. The bot must be an administrator for this to work and must have the appropriate administrator rights. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#unbanchatsenderchat"
        },
        "operationId": "unbanChatSenderChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unbanChatSenderChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/unpinAllChatMessages": {
      "post": {
        "description": "Use this method to clear the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can_pin_messages' administrator right in a supergroup or 'can_edit_messages' administrator right in a channel. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#unpinallchatmessages"
        },
        "operationId": "unpinAllChatMessages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinAllChatMessages"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/unpinAllForumTopicMessages": {
      "post": {
        "description": "Use this method to clear the list of pinned messages in a forum topic. The bot must be an administrator in the chat for this to work and must have the _can_pin_messages_ administrator right in the supergroup. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#unpinallforumtopicmessages"
        },
        "operationId": "unpinAllForumTopicMessages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinAllForumTopicMessages"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/unpinChatMessage": {
      "post": {
        "description": "Use this method to remove a message from the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can_pin_messages' administrator right in a supergroup or 'can_edit_messages' administrator right in a channel. Returns _True_ on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#unpinchatmessage"
        },
        "operationId": "unpinChatMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/uploadStickerFile": {
      "post": {
        "description": "Use this method to upload a .PNG file with a sticker for later use in _createNewStickerSet_ and _addStickerToSet_ methods (can be used multiple times). Returns the uploaded [File](https://core.telegram.org/bots/api#file) on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#uploadstickerfile"
        },
        "operationId": "uploadStickerFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/uploadStickerFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultFile"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Animation": {
        "description": "This object represents an animation file (GIF or H.264/MPEG-4 AVC video without sound).",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#animation"
        },
        "type": "object",
        "properties": {
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "width": {
            "description": "Video width as defined by sender",
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "height": {
            "description": "Video height as defined by sender",
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "duration": {
            "description": "Duration of the video in seconds as defined by sender",
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize"
          },
          "file_name": {
            "description": "_Optional_. Original animation filename as defined by sender",
            "type": "string"
          },
          "mime_type": {
            "description": "_Optional_. MIME type of the file as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "_Optional_. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value",
            "type": "integer"
          }
        },
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "duration"
        ]
      },
      "Audio": {
        "description": "This object represents an audio file to be treated as music by the Telegram clients.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#audio"
        },
        "type": "object",
        "properties": {
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "duration": {
            "description": "Duration of the audio in seconds as defined by sender",
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "performer": {
            "description": "_Optional_. Performer of the audio as defined by sender or by audio tags",
            "type": "string"
          },
          "title": {
            "description": "_Optional_. Title of the audio as defined by sender or by audio tags",
            "type": "string"
          },
          "file_name": {
            "description": "_Optional_. Original filename as defined by sender",
            "type": "string"
          },
          "mime_type": {
            "description": "_Optional_. MIME type of the file as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "_Optional_. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value",
            "type": "integer"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize"
          }
        },
        "required": [
          "file_id",
          "file_unique_id",
          "duration"
        ]
      },
      "BotCommand": {
        "description": "This object represents a bot command.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#botcommand"
        },
        "type": "object",
        "properties": {
          "command": {
            "description": "Text of the command; 1-32 characters. Can contain only lowercase English letters, digits and underscores",
            "type": "string",
            "maxLength": 32,
            "minLength": 1
          },
          "description": {
            "description": "Description of the command; 1-256 characters",
            "type": "string",
            "maxLength": 256,
            "minLength": 1
          }
        },
        "required": [
          "command",
          "description"
        ]
      },
      "BotCommandScope": {
        "description": "This object represents the scope to which bot commands are applied. Currently, the following 7 scopes are supported:",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#botcommandscope"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/BotCommandScopeDefault"
          },
          {
            "$ref": "#/components/schemas/BotCommandScopeAllPrivateChats"
          },
          {
            "$ref": "#/components/schemas/BotCommandScopeAllGroupChats"
          },
          {
            "$ref": "#/components/schemas/BotCommandScopeAllChatAdministrators"
          },
          {
            "$ref": "#/components/schemas/BotCommandScopeChat"
          },
          {
            "$ref": "#/components/schemas/BotCommandScopeChatAdministrators"
          },
          {
            "$ref": "#/components/schemas/BotCommandScopeChatMember"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "all_chat_administrators": "BotCommandScopeAllChatAdministrators",
            "all_group_chats": "BotCommandScopeAllGroupChats",
            "all_private_chats": "BotCommandScopeAllPrivateChats",
            "chat": "BotCommandScopeChat",
            "chat_administrators": "BotCommandScopeChatAdministrators",
            "chat_member": "BotCommandScopeChatMember",
            "default": "BotCommandScopeDefault"
          }
        }
      },
      "BotCommandScopeAllChatAdministrators": {
        "description": "Represents the [scope](https://core.telegram.org/bots/api#botcommandscope) of bot commands, covering all group and supergroup chat administrators.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#botcommandscopeallchatadministrators"
        },
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be _all_chat_administrators_",
            "type": "string",
            "default": "all_chat_administrators"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeAllGroupChats": {
        "description": "Represents the [scope](https://core.telegram.org/bots/api#botcommandscope) of bot commands, covering all group and supergroup chats.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#botcommandscopeallgroupchats"
        },
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be _all_group_chats_",
            "type": "string",
            "default": "all_group_chats"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeAllPrivateChats": {
        "description": "Represents the [scope](https://core.telegram.org/bots/api#botcommandscope) of bot commands, covering all private chats.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#botcommandscopeallprivatechats"
        },
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be _all_private_chats_",
            "type": "string",
            "default": "all_private_chats"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChat": {
        "description": "Represents the [scope](https://core.telegram.org/bots/api#botcommandscope) of bot commands, covering a specific chat.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api#botcommandscopechat"
        },
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be _chat_",
            "type": "string",
            "default": "chat"
          },
          "chat_id": {
            "$ref": "#/components/schemas/ID"
          }
        },
        "required": [
          "type",
          "chat_id"
        ]
      },
      "BotCommandScopeChatAdministrators": {
        "description": "Represents the [scope](https://core.telegram.org/bots/api#botcommandscope) of bot commands, covering all administrators of a specific group or supergroup chat.",
        "externalDocs": {
[...]
